.container-principal {
  background: inherit;
  width: 50%;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
}
.input {
  background: inherit;
  width: 70%;
  color: #6e85b2;
  border-radius: 50px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  transition: width 0.1s, height 0.1s, transform 0.1s;
}

.button {
  background: inherit;
  cursor: pointer;
  color: #6e85b2;
  padding: 10px 30px;
  margin: 30px;
  border-radius: 50px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  transition: width 0.1s, height 0.1s, transform 0.1s;
}

.button:hover {
  background-color: #6e85b2;
  color: #261c2c;
  transform: scale(1.1);
}

.button:active {
  background-color: #261c2c;
  color: #6e85b2;
}

.input:focus {
  transform: scale(1.1);
}
